.leaderboard {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color:rgb(10, 31, 22);
}

.navBar {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    position: fixed;
    left: 0px;
    right: 0px;
    top: 0px;
    height: 40px;
}

.leaderboardTitle {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.compArea {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.svgArea {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.svgArea svg {
    width: 30px;
    color: white;
}

.statsArea {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: end;
    flex-direction: row;
    margin-top: 50px;
    height: 200px;
    margin-bottom: 20px;
}

.nextUser {
    width: 100px;
    height: 120px;
    background-color: rgb(2, 56, 42);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    color: white;
    font-weight: bold;
}

.leadUser {
    width: 100px;
    height: 150px;
    background-color:rgb(2, 43, 31);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    color: white;
    font-weight: bold;
    
}

.dp img {
    width: 60px;
    height: 60px;
    border-radius: 60px;
    background-color: gray;
    margin-top: -60px;
}

.dpN img{
    width: 60px;
    height: 60px;
    border-radius: 60px;
    background-color: gray;
    margin-top: -50px; 
}

.cardCount {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    width: 30px;
}

.chartArea {
    width: 100%;
    background-color: rgb(2, 43, 31);
    height: 400px;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    color: white;
}

.competitionPoint {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.competitors {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.competitor {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 10px;
    background-color:rgb(25, 195, 125);
    border-radius: 10px;
    padding: 5px;
}

.userDp {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.userDp img {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-color: grey;
}

.chartArea h1 {
    text-align: center;
}

.competitor h3{
    width: 70%;
}